AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://bsp-project3-resource.services.ai.azure.com/api/projects/proj-wandernest
AZURE_OPENAI_API_VERSION=2026-03-17


# Vector Store Selection
# Options: "chroma" (Local) or "azure_search" (Production)
VECTOR_STORE_TYPE_PROD=azure_search
VECTOR_STORE_TYPE_LOCAL=chroma  

AZURE_SEARCH_ENDPOINT=https://bspproject3.search.windows.net
AZURE_SEARCH_KEY=
AZURE_SEARCH_INDEX_NAME=bspproject3index
AZURE_SEARCH_API_VERSION=2021-04-30-Preview 

AZURE_OPENAI_DEPLOYMENT_NAME=gpt-5.4-mini
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small
AZURE_OPENAI_EMBEDDING_VERSION=1

AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=project3
AZURE_STORAGE_KEY=

AZURE_CONTENT_SAFETY_ENDPOINT=
AZURE_CONTENT_SAFETY_KEY=
MLFLOW_TRACKING_URI="http://localhost:5000"
# MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=travel-search-rag


